doctype html
html(lang = "ru")

  head
    meta(charset = "UTF-8")
    link(rel = "stylesheet", href = "css/style.min.css")
    title Title

  body
    main
      svg(class = "icon")
        use(xlink:href = "img/svg/sprite.svg#airplane")
      svg(class = "icon")
        use(href = "img/svg/sprite.svg#location")
      p Текст
    script(src="js/script.js")